output/
pull_output*/
cut_output*/
data/
test/
submodules/diff_gaussian_rasterization/diff_gaussian_rasterization.egg-info
submodules/diff-gaussian-rasterization/diff_gauss/_C*
submodules/diff_gaussian_rasterization/build
submodules/diff_gaussian_rasterization/dist
submodules/omnidata/pretrained_models
diff_rasterization/diff_rast.egg-info
diff_gaussian_rasterization.egg-info
diff_rasterization/dist
tensorboard_3d
submodules/diff_gaussian_rasterization/nohup.out
submodules/diff_gaussian_rasterization/temp
submodules/diff_gaussian_rasterization/*.egg-info
submodules/diff_gaussian_rasterization/__pycache__/
submodules/diff_gaussian_rasterization/*.sh
submodules/diff_gaussian_rasterization/.vscode/